<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ibrhm.parentlock">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"></uses-permission>
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="ChildLock"
        android:theme="@style/AppTheme" android:name=".Users.ChattApp">
        <activity
        android:name=".Users.Login"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden">

    </activity>
        <activity
        android:name=".Services.FirstService">
    </activity>
    <service
        android:name=".Voice.VoiceClass">
    </service>
    <activity
        android:name=".Language.StudyLanguage"
      >
    </activity>
        <activity
            android:name=".Language.LanguageClass"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
        </activity>
        <activity
            android:name=".GamePackage.GameClass">
        </activity>
        <activity
            android:name=".GamePackage.LogicGameClass"
           >
        </activity>
        <activity
            android:name=".Questions.QuestionClass"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".Books.Book"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".Locked.LockedClass"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".Users.Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Users.UserList"
            android:label="ChildLock"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service
            android:name=".Services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name=".Users.MyReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="broadcast" />
            </intent-filter>
        </receiver>
       </application>

</manifest>